a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: pink;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: yellow;
    text-decoration: underline;
}
input:hover {
    border: 2px solid red;
}